/* --- Login.css (Vista de Escritorio) --- */

/* Contenedor principal para centrar todo */
.login-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f7f6; /* Un gris muy claro de fondo */
    font-family: Arial, sans-serif;
}

/* El layout principal (lado del form y lado del logo) */
.login-layout {
    display: flex; /* <-- Esto crea las 2 columnas */
    width: 100%;
    max-width: 1000px;
    background-color: #ffffff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    overflow: hidden; 
}

/* Lado izquierdo: El formulario */
.login-form-container {
    flex: 1; /* Ocupa la mitad del espacio */
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-form-container h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 24px;
}

.login-form-container .form-group {
    margin-bottom: 20px;
}

.login-form-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

.login-form-container input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    box-sizing: border-box;
    color: #333 !important;

}

.login-form-container .password-note {
    font-size: 12px;
    color: #020202;
    margin-top: 4px;
}

.login-form-container .login-button {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 4px;
    background-color: #F57F17; 
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form-container .login-button:hover {
    background-color: #E67E22;
}

/* Lado derecho: El Logo */
.login-logo-container {
    flex: 1; /* Ocupa la otra mitad */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fdfdfd; 
}

.login-logo-container img {
    max-width: 60%;
    height: auto;
}

/* --- ESTILOS PARA EL ERROR --- */
.login-error {
    color: #D32F2F; 
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
}

/* Ocultamos el logo de móvil en la vista de escritorio */
.login-logo-mobile {
    display: none;
}

/* En index.css o App.css */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box; /* Buena práctica */
}
